@font-face {
    font-family: 'Bungee Tint';
    src: url('assets/fonts/BungeeTint-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    margin: auto;
}

.score-text {
    font-family: 'Bungee Tint', sans-serif;
}

.game-over-text {
    font-family: 'Bungee Tint', sans-serif;
}
